<%= turbo_frame_tag id="content-slider", target: '_top', class:"w-full", data: {turbo_action: "advance"} do%>
  <article id="animation-region" class="flex flex-col w-full animate__animated animate__fadeInRight">
    <h1>Blogs</h1>
    <div id="blogs">
      <%= render @blogs %>
    </div>
  </article>
<% end %>
