<%= link_to project_path(project), class:"overflow-hidden w-64 h-64 bg-secondary project_card rounded-xl lg:m-8", 'data-turbo-frame': "project-information" do%>
  <div class="internal-card vw-64 h-128 flex flex-col">
    <div class="w-64 h-64 bg-accent flex">
      <p class="m-auto font-semibold text-neutral text-2xl text-center">
        <%=project.small_desc%>
      </p>
    </div>
    <div class="w-64 h-64 flex flex-col">
      <i class="<%=project.thumb_icon%> text-[10rem] text-neutral m-auto"></i>
      <h2 class="text-center text-3xl text-neutral font-bold pb-3"><%=project.title%></h2>
    </div>
  </div>
<% end %>
