<%= turbo_frame_tag id="content-slider", target: '_top', class:"w-full" do%>
  <article id="animation-region" class="flex flex-col w-full animate__animated animate__fadeInRight">
    <h1 id="hold" class="text-neutral font-bold text-4xl font-josefin text-center pb-1">wow look its all my projects in a grid and u could like click them</h1>
    <%= turbo_frame_tag id="project-information", target: '_top', class:"w-full" do%>
      <div id="testdiv"></div>
    <% end %>
    <div class="grid grid-cols-3 gap-3 mt-2" id="project-grid">
      <div class="w-32 h-32 bg-secondary"> <%= link_to  "01", project_path(id:1), 'data-turbo-frame': "project-information"%> </div>
      <div class="w-32 h-32 bg-secondary"> <%= link_to  "02", project_path(id:2), 'data-turbo-frame': "project-information" %> </div>
      <div class="w-32 h-32 bg-secondary">03</div>
      <div class="w-32 h-32 bg-secondary">04</div>
      <div class="w-32 h-32 bg-secondary">05</div>
      <div class="w-32 h-32 bg-secondary">06</div>
      <div class="w-32 h-32 bg-secondary">07</div>
      <div class="w-32 h-32 bg-secondary">09</div>
      <div class="w-32 h-32 bg-secondary">08</div>
    </div>
  </article>
<% end %>
