@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-35%);
  }
}
.scroller {
  animation: 25s scroll alternate infinite;
}

.scroller:first-child {
  animation-duration: 30s;
}
