@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-35%);
  }
}
.scroller {
  animation: 25s scroll alternate infinite;
}

.scroller:first-child {
  animation-duration: 30s;
}

@keyframes transform-down {
  from {
    margin-bottom: 0;
  }

  to {
    margin-bottom: 62rem;
  }
}
.expand-turbo-parent {
  animation: 0.7s transform-down;
}
@keyframes project-card-transform {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.internal-card {
  transform: translateY(-50%);
  animation-fill-mode: forwards;
}
.project_card {
  animation-fill-mode: forwards;
}
.project_card:hover .internal-card {
  animation-name: project-card-transform;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
