@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-35%);
  }
}
.scroller {
  animation: 25s scroll alternate infinite;
}

.scroller:first-child {
  animation-duration: 30s;
}

@keyframes transform-down {
  from {
    margin-bottom: 0;
  }

  to {
    margin-bottom: 62rem;
  }
}
.expand-turbo-parent {
  animation: 0.7s transform-down;
}
